<!-- This partial will be used by both author/edit and author/new -->
<label for="">Name</label>

<!-- Name is how the server gets the info. input will be under 'name' -->
<input type="text" name="name" value="<%-author.name %>" >
